.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.line {
  flex-grow: 1;

  height: 2px;

  border: 1px var(--secondaryColorLight) dashed;

  &.previous {
    border: 1px var(--primaryColor) dashed;
  }
}