.progressLine {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.line {
  flex-grow: 1;

  height: 2px;

  border: 1px var(--color-neutral-2-500) dashed;

  &.previous {
    border: 1px var(--color-primary-500) dashed;
  }
}