.active {
  height: calc(var(--count-button-square-side) * 3);
}

.nonactive {
  height: var(--count-button-square-side);
}

.countButton {
  --count-button-border-radius: 5px;
  --count-button-square-side: 28px;
  --count-button-line-width: 6px;
  --count-button-line-height: 1px;

  position: relative;

  width: var(--count-button-square-side);
  height: var(--count-button-square-side);

  border: 1px solid var(--color-neutral-2-500);
  border-radius: var(--count-button-border-radius);

  cursor: pointer;

  transition: width 0.2s ease;

  div {
    display: none;
  }

  &::after,
  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: var(--count-button-line-width);
    height: var(--count-button-line-height);

    border-radius: 1px;
    background: var(--color-neutral-2-500);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  &::before {
    transform: translate(-50%, -50%);
  }

  &:hover {
    border: 1px solid var(--color-neutral-2-300);

    &::after,
    &::before {
      background: var(--color-neutral-2-300);
    }
  }

  &.active {
    display: flex;
    width: calc(var(--count-button-square-side) * 3);
    border: none;

    &::after,
    &::before {
      display: none;
    }

    div {
      opacity: 1;

      position: relative;

      display: block;
      width: calc(100% / 3);

      background: var(--color-primary-500);

      font-size: 0.75rem;
      font-weight: 600;
      color: var(--color-neutral-2-800);

      user-select: none;

      &:hover {
        background: var(--color-primary-600);
      }

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;

        width: var(--count-button-line-width);
        height: var(--count-button-line-height);

        border-radius: 1px;
        background: var(--color-neutral-2-800);
      }

      &:first-child {
        border-top-left-radius: var(--count-button-border-radius);
        border-bottom-left-radius: var(--count-button-border-radius);

        &::after {
          content: "";

          transform: translate(-50%, -50%);
        }
      }

      &:nth-child(2n) {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: var(--color-primary-500);
        }
      }

      &:last-child {
        border-top-right-radius: var(--count-button-border-radius);
        border-bottom-right-radius: var(--count-button-border-radius);

        &::after,
        &::before {
          content: "";
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }

        &::before {
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    animation: disabled 1s ease infinite;

    background-color: var(--color-neutral-2-700);
    div {
      background-color: var(--color-neutral-2-700);
    }
  }
}

@keyframes disabled {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.75;
  }
}

@media (min-width: 480px) {
  .countButton {
    --count-button-border-radius: 7px;
    --count-button-square-side: 32px;
    --count-button-line-width: 8px;
    --count-button-line-height: 2px;
  }
}

@media (min-width: 960px) {
  .countButton {
    --count-button-square-side: 36px;
    --count-button-line-width: 10px;
    --count-button-line-height: 2px;
  }
}
