.page {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

.check {
  align-self: center;

  max-width: 300px;
  width: 100%;
}

@media (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: auto 240px;
    gap: 20px;
  }

  .check {
    align-self: flex-start;
  }
}