@import "zero";

:root {
  --defaultIndex: 1;
  --upperIndex: 10;
  --highIndex: 100;
  --highestIndex: 1000;
}

body {
  --primaryColor: #FADA5E;
  --primaryColorLight: #FFF278;
  --primaryColorHover: #FAD646;
  --primaryColorGradient: linear-gradient(
                  225deg,
                  #FADA5E 0%,
                  #C8A726 100%
  );
  --neutralColor: #FFFFFF;
  --neutralColorTransparent: rgba(255, 255, 255, 0.05);
  --neutralColorDarken: #CCCCCC;
  --secondaryColorLight: #373737;
  --secondaryColorLighten: #171717;
  --secondaryColorTransparent: #0E0E0E99;
  --secondaryColorSkeleton: rgba(14, 14, 14, 0.35);
  --secondaryColor: #0E0E0E;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: var(--secondaryColor);
}

.main {
  position: relative;
  flex-grow: 1;
}

// body {
//   --primaryColor: #5efa6b;
//   --primaryColorHover: #50f85e;
//   --neutralColor: #000000;
//   --neutralColorTransparent: rgba(255, 255, 255, 0.05);
//   --neutralColorDarken: #2e2e2e;
//   --secondaryColorLight: #aaaaaa;
//   --secondaryColorLighten: #e6e6e6;
//   --secondaryColorTransparent: #dddddd99;
//   --secondaryColor: #dddddd;

//   background-color: var(--secondaryColor);
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--neutralColor);
}
