.orderItem {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 15px;

  border-radius: 20px;
  border: 1px var(--color-neutral-2-700) solid;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
}

.orderItemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productListTitle {
  display: grid;
  grid-template-columns: auto 55px;

  padding: 10px 0;

  border-top: 1px var(--color-neutral-2-700) solid;
  border-bottom: 1px var(--color-neutral-2-700) solid;

  color: var(--color-neutral-2-700);
}

.productListItem {
  display: grid;
  grid-template-columns: auto 55px;

  color: var(--color-neutral-1-300);
}

.productListItemCount {
  text-align: center;
}

@media (min-width: 960px) {
  .orderItem {
    padding: 20px;
  }
}