.body7 {
  font-size: 0.6875rem;
}

.body6 {
  font-size: 0.6875rem;
}

.body5 {
  font-size: 0.8125rem;
}

.body4 {
  font-size: 0.875rem;
}

.body3 {
  font-size: 0.9375rem;
}

.body2 {
  font-size: 1rem;
}

.body1 {
  font-size: 1.125rem;
}

.h6 {
  font-size: 0.6875rem;
  font-weight: 700;
}

.h5 {
  font-size: 0.875rem;
  font-weight: 700;
}

.h4 {
  font-size: 1rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.h1 {
  font-size: 2rem;
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}