.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}

.title {
  display: flex;
  gap: 20px;
}

@media (min-width: 1280px) {
  .titleBlock {
    padding: 35px 0;
  }

  .title {
    gap: 35px;
  }
}