.wrapper {
  display: flex;
  flex-direction: column;

  border: 1px var(--color-neutral-2-500) solid;
  border-radius: 10px;
}

.preview {
  width: 100%;
  height: 150px;

  padding: 15px;

  article {
    width: 100%;
    height: 100%;
  }
}

.form {
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  li {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.priceBlock {
  grid-column: 1 / 2;
}

.foodsBlock {
  grid-column: 1 / 3;

  align-items: flex-start;

  div {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 15px;

    label {
      width: 100%;
    }
  }
}

.foodList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.foodButton {
  position: relative;

  display: flex;
  align-items: center;
  gap: 5px;

  border-bottom: 1px var(--color-neutral-2-100) dashed;

  color: var(--color-neutral-2-100);

  cursor: pointer;

  .crossIcon {
    position: relative;

    width: 6px;
    height: 6px;

    &::after,
    &::before {
      content: '';

      position: absolute;

      width: 8px;
      height: 1px;

      background-color: var(--color-neutral-2-100);
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    border-bottom: 1px var(--color-primary-500) dashed;

    color: var(--color-primary-500);

    .crossIcon {
      &::after,
      &::before {
        background-color: var(--color-primary-500);
      }
    }
  }
}

.categoryBlock {
  grid-column: 1 / 3;

  select {
    width: 100%;

    padding: 10px;

    background: none;
    border-radius: 10px;
    border: 1px var(--color-neutral-2-500) solid;
    outline: none;

    option {
      color: var(--color-neutral-2-800);
    }
  }
}

.imageBlock {
  grid-column: 1 / 3;
}

.inputImageUpload {
  display: none;
}

.labelImageUpload {
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 1px var(--color-neutral-2-500) solid;

  font-size: 14px;
  color: var(--color-neutral-2-500);

  cursor: pointer;

  transition: color .2s ease, border-color .2s ease;

  &:hover {
    border: 1px var(--color-neutral-2-300) solid;
    color: var(--color-neutral-2-300)
  }
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }

  .preview {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;

    width: 375px;
    height: 100%;
  }

  .form {
    padding: 30px;

    border-left: 1px var(--color-neutral-2-500) solid;
  }
}

@media (min-width: 960px) {
  .preview {
    padding: 50px;
  }

  .form {
    padding: 50px;
  }
}