.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formInputBlock {
  width: 100%;

  display: flex;
  gap: 15px;

  label {
    width: 100%;
  }
}

.categoryDeleteBlock {
  margin-top: 35px;
}

.categoryList {
  margin-top: 15px;
  padding: 0 15px;

  display: grid;

  border-radius: 10px;
  border: 1px var(--color-neutral-2-500) solid;
}

.categoryListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 15px 0;

  font-size: 14px;

  div {
    flex-grow: 1;
    align-self: flex-end;

    border: 1px var(--color-neutral-2-500) dashed;
  }

  button {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.categoryListTitleBlock {
  color: var(--color-neutral-2-500);

  border-bottom: 1px var(--color-neutral-2-500) solid;
}

@media (min-width: 768px) {
  .form {
    width: 50%;
  }
}